parameters:
	level: 10
	phpVersion: 80400
	paths:
		- src/
		- tests/
	universalObjectCratesClasses:
		- N1ebieski\KSEFClient\Contracts\ValueAwareInterface
	excludePaths:
		- ./src/Overrides/Rector/Php74/Rector/Closure/ClosureToArrowFunctionRector.php