parameters:
	level: 10
	phpVersion: 80400
	paths:
		- src/
		- tests/
	universalObjectCratesClasses:
		- N1ebieski\KSEFClient\Contracts\ValueAwareInterface
	excludePaths:
		- ./src/Overrides/Rector/Php74/Rector/Closure/ClosureToArrowFunctionRector.php
		- ./src/Testing/Fixtures/Requests

	ignoreErrors:
		- '#^Parameter \#1 \$node of method DOMDocument::importNode\(\) expects DOMNode, DOMElement\|null given.$#'